body{
 background-image: url("../images/backMenu3.png");
background-repeat: no-repeat;
background-attachment: fixed;
background-size:100% 115%;
}
#instrucciones{font-size:40px; width:600px; position:relative; top:10px;}
#modal{position: relative; top: 10px;}
#tablaMenu {border:4px solid black; text-align: center; width:1200px;}
td{}
#platillo1{width:300px;}
#platillo2{width:300px;}
#platillo3{width:300px;}
#platillo4{width:300px;}
