@keyframes intro{
    from {opacity: 0}
    to {opacity:1;}
}

.comoFunciona{
    background-image: url("../images/tomato-soup.jpg");
    width: 100%;
    height: 350px;
     background-repeat: no-repeat;
     background-size: 100% 100%;
     animation-name: intro;
    animation-duration: 5s;
}


.fill{
  min-height: 100%;
  height: 100%;
}
.precios{
    background-image: url("../images/img_precio_1.jpg");
    width: 100%;
    height: 350px;
     background-repeat: no-repeat;
     background-size: 100% 100%;
     animation-name: intro;
    animation-duration: 5s;
>>>>>>> 51ca129c3230d03072b35f83632d450343d873c1
}

.nosotros{
	 background-image: url("../images/img_nosotros_2.jpeg");
    width: 100%;
    height: 400px;
     background-repeat: no-repeat;
     background-size: 100% 100%;
     animation-name: intro;
    animation-duration: 5s;

}

.contacto{
	 background-image: url("../images/img_contacto.jpg");
    width: 100%;
    height: 350px;
     background-repeat: no-repeat;
     background-size: 100% 100%;
     animation-name: intro;
    animation-duration: 5s;
}


.i-text{
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 50px;
	line-height: 50px;
	margin-bottom: 50px;
	color:white;
	position:relative;
	animation-name: intro;
    	animation-duration: 5s;
    padding-top: 80px;
    text-shadow: 2px 2px #CCCCCC;
}

nav{
	animation-name: intro;
    animation-duration: 5s;

}


.even{
	background-color: white;
    height: 250px;
    color:#744B31;
    text-align: center;
    animation-name: intro;
    	animation-duration: 5s;
}

.odd{
	background-color: #744B31;
    height: 300px;
    color: white;
     text-align: center;
     animation-name: intro;
    	animation-duration: 5s;
}

.parraf-titulo{
	font-weight: bolder;
}

.parraf-text{
	padding-left: 20px;
	padding-right: 20px;
}

img{
	display: inline-block;
	float: left;
	border: solid 5px #85CD66;
	animation-name: intro;
   	 animation-duration: 5s;
}

.form_contact{
	padding-bottom: 60px;
	color:black;
}

ul
{
    list-style-type: none;
}

label{
	color: white;
}

.table{
    border: 1px solid black !important;
    table-layout: fixed !important;
    width: 200px;
}

.th .td {
    border: 1px solid black !important;
    overflow: hidden !important;
    width: 100px !important;
}
